.dropdown {
    position: relative;
    display: block;
    flex-direction: row;
}

.dropdown-results {
    width: 100%;
    position: absolute;
    background-color: var(--bg-navbar);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    max-height: 400px;
    overflow-y: auto;
}

.dropdown-results div {
    width: 100%;
    color: var(--text-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-results .dropdown-result:hover {
    background-color: var(--bg-highlight);
    cursor: pointer;
}

.dropdown-results .dropdown-result.highlight {
    background-color: var(--bg-highlight);
}

.dropdown input[type="search"],
.dropdown input[type="text"]
{
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" stroke="%23000" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class=""><polyline points="6 9 12 15 18 9"></polyline></svg>');
    background-repeat: no-repeat;
    background-position: 98%;
    background-size: 18px;
}

.dark-theme .dropdown input[type="search"],
.dark-theme .dropdown input[type="text"]
{
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" stroke="%23fff" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class=""><polyline points="6 9 12 15 18 9"></polyline></svg>');
}


@media (max-width: 768px) {
    .dropdown-results {
        max-height: 40vh;
    }
}

.dropdown input[type="search"] + .clear-selection,
.dropdown input[type="text"] + .clear-selection
{
    background-color: transparent;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>') !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 17px;
    border-color: var(--input-border);
    border-radius: var(--input-border-radius);
}

.dark-theme .dropdown input[type="search"] + .clear-selection,
.dark-theme .dropdown input[type="text"] + .clear-selection
{
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>') !important;
}
